<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/web/dashboard">Remote project manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if isLogsView}}
            <li class="nav-item active">
            {{else}}
            <li class="nav-item">
            {{/if}}
                <a class="nav-link" href="/web/logs-view">Logs</a>
            </li>
            {{#if isCommandExecutor}}
            <li class="nav-item active">
            {{else}}
            <li class="nav-item">
            {{/if}}
                <a class="nav-link" href="/web/command-executor">Commands</a>
            </li>
        </ul>
    </div>
</nav>
