{{> navigation }}
<div class="container">
    <h3 class="mt-3">Application logs:</h3>
    <input id="path" type="hidden" value="{{logFile}}">
</div>
<div id="log-container" class="alert alert-secondary overflow-auto text-nowrap mt-1">

<script type="application/javascript">
    $(document).ready(function () {
        var logPath = $('#path').val();
        var $logContainer = $('#log-container');
        var logDisplayer = new LogDisplayer(logPath, $logContainer);
        logDisplayer.displayFull();
    });
</script>
