<div class="background-paper-white mat-elevation-z3">
  <div class="padding" fxLayoutAlign="space-between">
    <span class="mat-h1">Command executions</span>
    <button mat-icon-button matTooltip="Delete ALL existing executions" (click)="deleteAll.emit()">
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
  <div>
    <mat-nav-list>
      <app-execution-item *ngFor="let execution of executions" [execution]="execution" (delete)="delete.emit(execution)"
                          (halt)="halt.emit(execution)" (terminate)="terminate.emit(execution)"></app-execution-item>
    </mat-nav-list>
  </div>
</div>
