<div class="background-paper-white mat-elevation-z3">
  <div class="padding">
    <span class="mat-h1">Logs</span>
  </div>
  <div>
    <mat-nav-list *ngIf="canItemBeDeleted">
      <app-log-item *ngFor="let log of logs" [path]="log" [shortPath]="getFileName(log)" (delete)="deleteItem.emit(log)"></app-log-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="!canItemBeDeleted">
      <app-log-item *ngFor="let log of logs" [path]="log" [shortPath]="getFileName(log)"></app-log-item>
    </mat-nav-list>
    <div *ngIf="canItemBeAdded" class="box-padding" fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="addItem.emit()">Add</button>
    </div>
  </div>
</div>
