<div fxLayout="row" class="max-height">
  <div fxFlex="20%" fxLayoutGap="8px" fxLayout="column" class="scrollable box-padding">
    <app-command-list *ngIf="isEditable" [commands]="commands" (delete)="deleteCommand($event)" (run)="executeCommand($event)" (add)="editing = true"></app-command-list>
    <app-command-list *ngIf="!isEditable" [commands]="commands" (run)="executeCommand($event)"></app-command-list>
    <app-add-command *ngIf="editing" (cancel)="editing = false" (save)="addCommand($event)"></app-add-command>
    <app-execution-list [executions]="executions" (delete)="deleteExecution($event)"
                        (terminate)="terminateExecution($event)" (halt)="haltExecution($event)"></app-execution-list>
  </div>
  <div *ngIf="selectedExecution" fxFlex="80%" class="box-padding typical-output-height">
    <app-output fxFlex="grow" [name]="selectedExecution.name" [outputObservable]="selectedExecution.output"></app-output>
  </div>
</div>
