{{> navigation isLogsView=true }}
<div class="container">
    <h3>Logs:</h3>
    <div class="list-group">
        {{#each logs}}
            <a href="{{../logUrlTemplate}}?path={{this}}" class="list-group-item list-group-item-action">{{this}}</a>
        {{/each}}
    </div>
    {{#unless isRestricted}}
        <form method="post" action="{{addLogUrlTemplate}}" class="mt-1">
            <div class="form-group">
                <label for="logPath">Log to add</label>
                <input type="text" class="form-control" id="logPath" name="logPath" placeholder="Absolute path to log">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    {{/unless}}
</div>
