{{> navigation isLogsView=true }}
<div class="container">
    <h3>{{path}}</h3>
    <input id="path" type="hidden" value="{{path}}">
    <a class="btn btn-danger mt-1" href="{{removeUrlTemplate}}?path={{path}}">Stop watching</a>
    <div id="error-container" class="alert alert-danger d-none mt-1" role="alert"></div>
    <div id="log-container" class="overflow-auto text-nowrap mt-1">
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function () {
        var logPath = $('#path').val();
        var $logContainer = $('#log-container');
        var $errorContainer = $('#error-container');
        var logDisplayer = new LogDisplayer(logPath, $logContainer);
        logDisplayer.setErrorContainer($errorContainer);
        logDisplayer.display();
    });
</script>
