{{> navigation isLogsView=true }}
<div class="container">
    <h3>{{path}}</h3>
    <input id="path" type="hidden" value="{{path}}">
    <a class="btn btn-danger mt-1" href="{{removeUrlTemplate}}?path={{path}}">Stop watching</a>
    <div id="error-container" class="alert alert-danger d-none mt-1" role="alert"></div>
    <div id="log-container" class="overflow-auto text-nowrap mt-1">
    </div>
</div>

<script type="application/javascript">
    $(document).ready(function () {
        var logPath = $('#path').val();
        var $logContainer = $('#log-container');
        var $errorContainer = $('#error-container');
        var webSocket = new WebSocket('ws://localhost:8090/');
        webSocket.addEventListener('open', function (ev) {
            webSocket.send(JSON.stringify({type: 'watch', file: logPath}));
        });
        webSocket.addEventListener('message', function (ev) {
            var change = JSON.parse(ev.data);
            if (change.type === 'change' && change.file === logPath) {
                change.changes.forEach(function (value) {
                    $logContainer.append('<p>' + value + '</p>');
                });
            } else if (change.type === 'error') {
                $errorContainer.removeClass('d-none');
                $errorContainer.html(change.message);
            }
        });
    });
</script>
