<div class="background-paper-white mat-elevation-z3">
  <form [formGroup]="addLogForm" (ngSubmit)="submit()">
    <div class="padding">
      <span class="mat-h1">Add log</span>
    </div>
    <div class="padding">
      <mat-form-field fxFlex="grow">
        <mat-label>Absolute path</mat-label>
        <input matInput formControlName="absolutePath"/>
        <mat-error *ngIf="addLogForm.get('absolutePath').errors">
          Please enter an absolute path to the log file
        </mat-error>
      </mat-form-field>
    </div>
    <div class="box-padding" fxLayoutAlign="end" fxLayoutGap="8px">
      <button mat-button type="button" (click)="cancel.emit()">Cancel</button>
      <button mat-button [disabled]="addLogForm.invalid" type="submit" color="primary">Save</button>
    </div>
  </form>
</div>
