<div fxLayout="row" class="max-height">
  <div fxFlex="20%" fxLayoutGap="8px" fxLayout="column" class="scrollable box-padding">
    <app-log-list *ngIf="isEditable" [logs]="logs" (addItem)="editing = true" (deleteItem)="deleteLog($event)"></app-log-list>
    <app-log-list *ngIf="!isEditable" [logs]="logs"></app-log-list>
    <app-add-log *ngIf="editing" (cancel)="editing = false" (save)="addLog($event)"></app-add-log>
  </div>
  <div *ngIf="log" fxFlex="80%" style="height: 85%" class="box-padding">
    <app-output fxFlex="grow" [name]="log.fileName" [outputObservable]="log.content" [size]="log.sizeInBytes" (loadFull)="watchCurrentLog(true)" (reload)="watchCurrentLog(false)"></app-output>
  </div>
</div>
